[general]
url = http://10.152.20.15:8080/cc_monitor/update_queues2
; on / off, true / false, 0 / 1
debug = off

[colors]
# Valeurs possibles : white, black, red, green, blue, cyan, magenta, yellow, gray,
# darkRed, darkGreen, darkBlue, darkCyan, darkMagenta, darkYellow, darkGgray 
normal = green
warning  = blue
alert = red

[members]
# Changement de couleur si nombre d'agents inférieur à 
warning = 2
alert = 1

[queues]
# Changement de couleur si nombre de personnes dans la file supérieur à 
warning = 2
alert = 5

