<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html"/>

<head>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
   <title py:content="title">Title</title>
   <link type="text/css" href="/toscawidgets/resources/tw.jquery.base/static/css/ui.all.css" rel="stylesheet" />
   <script type="text/javascript"
      src="/toscawidgets/resources/tw.jquery.base/static/javascript/ui/minified/jquery-ui.min.js"></script>

   <style>
<![CDATA[
tr.even td.free, tr.odd td.free { background-color: lightgreen;}
tr.even td.inuse, tr.odd td.inuse { background-color: red;}
tr.even td.ringing, tr.odd td.ringing { background-color: yellow;}
tr.even td.invalid, tr.odd td.invalid { background-color: lightgrey;}
]]>
   </style>

   <script type="text/javascript">
<![CDATA[

var last=0, // last_update
    change=true, // Change in list of queues or members, need rebuild list
    first_time=true, error=0, display_tmo,
    add_queue=null,  // List of users for adding members
    queues = new Object(), // List of queues
    members = new Object(); // List of members

$(document).ready(function() {
   $('#add_form').dialog({ 
         autoOpen: false,  modal: true, width: '450px',
         buttons: { "Valider": function() {add_member()}, "Annuler": function() {$('#add_form').dialog('close');}} });
   $(document).ajaxError(ajax_error);
   if (${auth}) {
      fetch_updates();
   }
});

function fetch_updates() { // Long running request for data updates
   $.post(
      "${tg.url('/cc_monitor/update_queues')}",
      {'last': last},
      updates_ready, 'json');
}

function updates_ready(data) {
   if (data) {
      // Data is null on AstPortal reload
      queues = data.queues;
      members = data.members;
      change = data.change;
      last = data.last;
      if (first_time) {
         change=true;
         first_time=false;
         list_queues();
      }
      data=null;
   }
   setTimeout(fetch_updates,500);
}

function list_queues() { // Builds main part of the screen

   var now = (new Date()).getTime()/1000; // Epoch time
   if (change) { 
      // Something has changed (queue or member), need to rebuild the whole screen
      change = false;
      var html = '';
      var j=1;
      var qt = '<table><tr><th>Agents connectés</th><th>Groupes</th><th>Appels en attente</th><th>Temps en attente</th></tr>'; // Queues table
      for (q in queues) { // For each queue, display name and table
         var qm=queues[q]['Members'];
         qt += '<tr class="' + ((j++%2) ? 'even':'odd') + '"><td>' + qm.length + '</td>';
         qt += '<td>' + q + '</td>';
         qt += '<td>' + queues[q]['Wait'].length + '</td>';
         var waiting = '';
         for (var i=0;  i<queues[q]['Wait'].length; i++) {
            waiting += (1+i) + ' : ' + min_sec(now - queues[q]['Wait'][i]);
         }
         qt += '<td id="wait_' + q + '">' + waiting + '</td></tr>';

         html += '<h2>Groupe ' + q + '</h2>';
         var table = '<table><tr><th rowspan="2">&nbsp;</th><th rowspan="2">Agents<br/>(pénalité)</th><th rowspan="2">&Eacute;tat</th>';
         table += '<th rowspan="2">Durée</th><th colspan="2">Appels reçus</th><th colspan="2">Appel émis</th><th rowspan="2">&Eacute;couter</th>';
         table += '<th rowspan="2">Enreg.</th rowspan="2"><th rowspan="2">Retirer</th></tr>';
         table += '<tr><th>Nb</th><th>Total</th><th>Nb</th><th>Total</th></tr>';
         var i=1;
         for (m in qm) { // For each member in this queue
            if (members[qm[m]]==undefined) continue; // XXX
            var id = q + '_' + qm[m].replace(/\W/g,'_');
            table += '<tr class="' + ((i%2) ? 'even':'odd') + '"><td>' + i + '</td>';
            table += '<td>' + qm[m] + ' (' + members[qm[m]]['Penalty'] + ')' + '</td>';
            //[sclass, sta, dur, nci, tci, nco, tco, lis, rec] = NOT working in chrome !
            var a = member_status(members[qm[m]], now, q);
            table += '<td id="sta_' + id + '"class="' + a[0] + '">' + a[1] + '</td>';
            table += '<td id="dur_' + id + '">' + a[2] + '</td>';
            table += '<td id="nci_' + id + '">' + a[3] + '</td>';
            table += '<td id="tci_' + id + '">' + a[4] + '</td>';
            table += '<td id="nco_' + id + '">' + a[5] + '</td>';
            table += '<td id="tco_' + id + '">' + a[6] + '</td>';
            table += '<td id="lis_' + id + '">' + a[7] + '</td>';
            table += '<td id="rec_' + id + '">' + a[8] + '</td>';
            table += '<td><input type="checkbox" onclick="remove(\'' + 
               q + '\',\'' + members[qm[m]]['Location']  + '\',\'' + qm[m] + '\')"/></td>';
            table += '</tr>';
            i++;
         }
         if (i==1) { // No members !
            html += '<i>Aucun agent</i><br/>';
         } else {
            html += table +'</table>';
         }
         html += '<a href="#" onclick="fetch_exten(\'' + q + '\')">Ajouter un agent</a>';
      }
      html += "<h2>File d'attente</h2>" + qt + '</table>';
      html += '<br/>now : ' + now + '<br/>last : ' + last; // XXX
      $('#queues_list').html(html);
   }

   else {
      // No change, just update variable fields
      for (q in queues) { // For each queue, display name and table
         var qm = queues[q]['Members'];
         var waiting = new Array();
         for (var i=0;  i<queues[q]['Wait'].length; i++) {
            waiting.push((1+i) + ' : ' + min_sec(now - queues[q]['Wait'][i]));
         }
         $('#wait_' + q).html(waiting.join(', '));
         for (m in qm) { // For each member in this queue
            if (members[qm[m]]==undefined) continue; // XXX
            var id = q + '_' + qm[m].replace(/\W/g,'_');
            var a = member_status(members[qm[m]], now, q);
            $('#sta_' + id).attr('class', a[0]);
            $('#sta_' + id).html(a[1]);
            $('#dur_' + id).html(a[2]);
            $('#nci_' + id).html(a[3]);
            $('#tci_' + id).html(a[4]);
            $('#nco_' + id).html(a[5]);
            $('#tco_' + id).html(a[6]);
            $('#lis_' + id).html(a[7]);
            $('#rec_' + id).html(a[8]);
         }
      }
   }
   display_tmo = setTimeout(list_queues,500);
}

function member_status(member, now, queue) {
   var lis = '', rec = '';
   var sclass, stat, dur, nci, tci, nco, tco, lis, rec;
   switch (member['Status']) {
      case '1': // AST_DEVICE_NOT_INUSE
         sclass='free'; stat='Libre'; dur=''; break; 
      case '2': // AST_DEVICE_INUSE
      case '3': // AST_DEVICE_BUSY
      case '8': // AST_DEVICE_ONHOLD
         sclass='inuse'; 
         if (member['Outgoing']) {
            stat='Appel émis';
            dur = min_sec(now - member['OutBegin']);
         } else {
            stat='Appel reçu';
            dur = min_sec(now - member['InBegin']);
         }
         lis = '<input type="checkbox" onclick="listen(\'' + 
            member['Location'] + '\')"/>';
         rec = '<input type="radio" onclick="record(\'' + member['Location'] + '\', \'' + queue + '\');"/>';
         break;
      case '6': // AST_DEVICE_RINGING
      case '7': // AST_DEVICE_RINGINUSE
         sclass='ringing'; stat='Sonnerie'; dur=0; break; 
      case '4': // AST_DEVICE_INVALID
      case '5': // AST_DEVICE_UNAVAILABLE
      default: 
         sclass='invalid'; stat='Invalide'; dur=0; break;
   }
   nci = member['CallsTaken'];
   tci = min_sec(member['InTotal']);
   nco = member['CallsOut'];
   tco = min_sec(member['OutTotal']);
   return [sclass, stat, dur, nci, tci, nco, tco, lis, rec];
}

function listen(channel) {
   $.post(
      "${tg.url('/cc_monitor/listen')}",
      {'channel': channel},
      function (data) { // 
      },
      'json');
}

function record(channel,queue) {
   $.post(
      "${tg.url('/cc_monitor/record')}",
      {'channel': channel, 'queue': queue},
      function (data) { // 
      },
      'json');
}

function ajax_error(e, xhr, settings, exception) {
   error++;
   if (error>3) {
      alert('ERREUR ! ' + error);
      error=0;
   } else {
      // Wait a bit and try again
      setTimeout(fetch_updates,1000*error);
   }
}

function fetch_exten(queue) { // Request exten list
   add_queue = queue;
   $.post(
      "${tg.url('/cc_monitor/list_exten')}",
      {},
      function (data) { // Populate select and display add member form
         $('option', '#agent_select').remove();
         for (p in data.phones) {
            $('#agent_select').append(new Option(data.phones[p][1],data.phones[p][0]));
         }
         $('#add_form').dialog('open');
      },
      'json');
}

function add_member() { // Called from click on "Add member" link
   $.post(
      "${tg.url('/cc_monitor/add_member')}",
      {'queue': add_queue, 'member': $('#agent_select').val(),
      'penality': $('#penality').val()},
      null, 'json');
   add_queue = null;
   $('#add_form').dialog('close');
}

function remove(queue, iface, member) {
   if (confirm('Retirer "' + member + '" du groupe "' + queue + '"')) {
      $.post(
         "${tg.url('/cc_monitor/remove_member')}",
         {'queue': queue, 'iface': iface, 'member': member},
         null, 'json');
   }
}

function min_sec(sec) {
   // Converts sec to string min:sec (ex 83 -> 1:23)
   sec = Math.ceil(sec);
   var min = parseInt(sec/60);
   sec %= 60;
   if (sec<10) sec = '0'+sec;
   return min + ':' + sec;
}

]]>
   </script>
</head>
<body>
   <h1 py:content="title">Title</h1>
   <span py:replace="debug" /><br />

      <div id="add_form">
         <table>
            <tr><td>Agent :</td>
               <td><select id="agent_select"></select></td></tr>
            <tr><td>Pénalité :</td>
               <td><input type="text" id="penality" size="4"/></td></tr>
         </table>
      </div>

      <div id="queues_list"><i>Loading. . .</i></div>

   </body>
</html>
