<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html"/>

<head>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
   <title py:content="title">Paginate Data Grid</title>

   <script language="javascript">
//<![CDATA[

$(document).ready(function() {
   $("#tabs").tabs();
   $('#grid').setGridWidth($('#data').width()-10, true);
   $(window).bind('resize', function() {
      $('#grid').setGridWidth($('#data').width()-10, true);
   });

});

function ecoute(f) {
   with(document.ecoute_form) {
      file.value = f
      submit()
   }
}
//]]>
   </script>
</head>
<body>
      <h1 py:content="title">Paginate Data Grid</h1>
      <span py:replace="debug" /><br />

      <div id="tabs">
         <ul>
            <li><a href="#data">Données</a></li>
            <li><a href="#search_form">Recherche</a></li>
         </ul>

         <div id="data">
            <!-- JQuery Grid 
            -->
            ${tmpl_context.grid()}

         </div>

         <div id="search_form" py:content="tmpl_context.form(values)">
         </div>

      </div>

      <form name="ecoute_form" action="ecoute" method="post">
         <input type="hidden" name="file" />
      </form>

   </body>
</html>
