<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html"/>

<head>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
   <title py:content="title">Jquery FlexiGrid</title>

   <script language="javascript">
      function add(x) {
         location = 'new'
      }
      function del(id,msg) {
         if (confirm(msg))
            location = id + '/delete'
      }
   </script>
</head>

<body>
      <h1 py:content="title">Paginate Data Grid</h1>
      <span py:replace="debug"/><br />

      <!-- Form -->
      <span py:if="tmpl_context.form">
         ${tmpl_context.form(values)}
      </span>

      <!-- Query FlexiGrid -->
      ${tmpl_context.grid()}

   </body>
</html>
