<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html"/>

<head>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
   <title py:content="title">ToscaWidget Form</title>

<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
	email_voicemail_display();
	$('#voicemail').change(function () { email_voicemail_display(); });
});

function email_voicemail_display() {
   // Hide sub forms
	var vm = $('input:radio[name=voicemail]:checked').val();
	if (vm.toLowerCase()=='true')
		$('#email_voicemail\\.container').show();
	else
		$('#email_voicemail\\.container').hide();
}

//]]>
</script>
</head>
<body>
      <h1 py:content="title">ToscaWidget Form</h1>
      <span py:replace="debug"/><br />

      <div py:replace="tmpl_context.form(values)">Input Form</div>

      <a href='..'>Retour</a>

   </body>
</html>
