<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html"/>

<head>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
   <title py:content="title">Jquery Grid</title>

   <script type="text/javascript">
//<![CDATA[
      
$(document).ready(function() {
   $(window).bind('resize', function() {
      $('#grid').setGridWidth($('#data').width()-10, true);
   });
});

function add(x) {
   location = 'new'
}

function del(xid,msg) {
   if (confirm(msg)) {
      with (document.form_delete) {
         _id.value = xid;
         submit();
      }
   }
}

function gs_open(ip, pwd) {
   with (document.gs_login) {
      P2.value = pwd;
      action = 'http://' + ip + '/dologin.htm';
      submit();
   }
}
//]]>
   </script>
</head>

<body>
      <h1 py:content="title">Paginate Data Grid</h1>
      <span py:replace="debug"/><br />

      <!-- GS login form -->
      <form name="gs_login" action="" method="post" target="_blank">
         <input type="hidden" name="P2" value=""/>
         <input type="hidden" name="gnkey" value="0b82"/>
      </form>

      <div id="data">
         <!-- JQuery Grid -->
         ${tmpl_context.grid()}
      </div>

      <!-- Delete form -->
      <form name="form_delete" action="delete" method="POST">
         <input type="hidden" name="_id" />
         <input type="hidden" name="_method" value="DELETE" />
      </form>

   </body>
</html>
