<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
<title>Portail Asterisk</title>

<script type="text/javascript">
//<![CDATA[
function ac_cb(req, resp) {
   alert('autocomplete callback');
   resp(['azerty', 'qwerty', 'toto', 'titi']);
}

$(document).ready(function () {
      $('#form_auto').autocomplete({source: ac_cb});
/*   $('#form_auto').keypress(function() {
         $.post('/phonebook/search', 
         {auto: $('#form_auto').val()},
         function (json) {
//alert(json.data);
            $('#form_auto').autocomplete('option', 'source', json.data);
          })
   });
*/
});
//]]>
</script>
</head>
<body>

   <!-- Corps -->
<p>L'accès à cette application est réservé aux utilisateurs autorisés.</p>
<p>N'oubliez pas de vous déconnecter après utilisation.</p>
<!-- input id="form_auto" name="auto"/ -->
<!-- ${tmpl_context.form()} -->
</body>
</html>
