<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html"/>

<head>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
   <title py:content="title">Paginate Data Grid</title>

   <script type="text/javascript">
<![CDATA[

var last=0, count=0, error=0, display_tmo;
var begins= new Object();
var channels = new Object();

$(document).ready(function() {
   update();
   display_tmo = setTimeout(display,500);
});

function update() {
   $.post(
      "${tg.url('/monitor/update_channels')}",
      {'last': last},
      list_channels, 'json');
   $(document).ajaxError(data_fetch_failed);
}

function list_channels(data) {
   if (data) {
      // Data is null on AstPortal reload
      channels = data.channels;
      last = data.last_update;
   }
   setTimeout(update,1000);
}

function display() {
   var table = '';
	var now = new Date(), tot_chan=0, tot_calls=0;
   for (p in channels) {
      var c = channels[p];
      tot_chan++;
      if (c['Link']!=undefined && !c['Outgoing']) {
         // Don't display outgoing linked channel
         tot_calls++;
         continue
      }
		if (begins[p]) {
			duree = min_sec(now.getTime()-begins[p].getTime());
		} else {
			duree = '0:00';
			begins[p] = now;
		}
      // if (channels[p]['Begin']!=0)
		table += '<tr>';
//		table += '<td>' + c['Uniqueid'] + '</td>';
//		table += '<td>' + p + '</td>'; // Channel
		table += '<td>' + c['CallerIDName'] + ' ' + c['CallerIDNum'] + '</td>';
      if (c['Link']) {
   		table += '<td>' + channels[c['Link']]['CallerIDName'] + ' ' + channels[c['Link']]['CallerIDNum']  + '</td>';
      } else {
         table += '<td>&nbsp;</td>';
      }
		table += '<td>' + duree + '</td>';
		table += '<td>' + c['State'] + '</td>';
      var app='';
      if (c['Application']!=undefined) {
         app = c['Application'];
         if (c['AppData']!=undefined) {
            app += ' : ' + c['AppData'];
         }
      }
      table += '<td>' + app + '</td>';
		table += '<td>' + ((c['Context']!=undefined) ? c['Context']:'') + '</td>';
		table += '<td>' + ((c['Priority']!=undefined) ? c['Priority']:'') + '</td>';
		table += '</tr>';
   }
   if (tot_chan) {
      table = '<table><tr><th>Appelant</th><th>Appelé</th><th>Durée</th><th>&Eacute;tat</th><th>Application</th><th>Contexte</th><th>Prio</th></tr>' + table;
      table += '<tr>';
      table += '<th>Total :</th>';
      table += '<th colspan="6">' + tot_calls + ' appel' + ((tot_calls>1) ? 's':'');
      table += ' (' + tot_chan + ' can' + ((tot_chan>1) ? 'aux':'al') + ')</th>';
      table += '</tr>';
   } else {
      table = '<i>Aucun appel en cours</i>';
   }
	table += '</table>';
   for (p in begins) {
      if (channels[p]==undefined) {
         delete begins[p]; // Clean up !
      }
   }
   document.getElementById('channels_list').innerHTML = table;
   display_tmo = setTimeout(display,500);
}

function data_fetch_failed (e, xhr, settings, exception) {
   error++;
   if (error>3) {
      alert('ERREUR !' + error);
   } else {
      // Wait a bit and try again
      setTimeout(update,1000*error);
   }
}

function min_sec(millisec) {
   // Converts millisec to string min:sec (ex 1:23)
   var sec = Math.ceil(millisec/1000);
   var min = parseInt(sec/60);
   sec %= 60;
   if (sec<10) sec = '0'+sec;
   return min + ':' + sec;
}

]]>
   </script>
</head>
<body>
   <h1 py:content="title">Title</h1>
   <span py:replace="debug" /><br />
   <div id="channels_list"><i>Loading...</i></div>
</body>
</html>
